/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

input[type=submit].btn-primary,
.btn-primary {
  align-items: center;
  background-color: $color-beige;
  border-radius: 2px;
  color: $color-white !important;
  display: flex;
  height: 35px;
  @include font-nort-bold();
  padding: 12px 10px;
  line-height: 1 !important;
  justify-content: center;
  text-align: center;
  text-decoration: none !important;
  transition: background-color .1s ease-in;
	outline: none !important;
	width: 100%;
	z-index: 1;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: $color-white;

  @include bp-lg() {
    height: 40px;
  }

  &.is-reset {
    background-color: $color-light-beige;
    color: $color-green !important;
    text-align: left !important;
    justify-content: flex-start !important;

    &:hover {
      background-color: $color-beige;
    }
  }

}