/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

.btn-primary {
  align-items: center;
  background-color: $color-beige;
  border-radius: 2px;
  color: $color-white !important;
  display: flex;
  height: 35px;
  @include font-nort-bold();
  padding: 12px 10px;
  line-height: 1 !important;
  margin-top: -15px;
  justify-content: center;
  text-align: center;
  text-decoration: none !important;
  transition: background-color .1s ease-in;

  @include bp-xs() {
    margin-top: 9px;
  }

  @include bp-lg() {
    margin-top: 6px;
    height: 40px;
  }

  &:hover {
    color: $color-dark-green !important;
  }
}