/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/secondary
 * -----------------------------------------------------------------------------
 */

input[type=submit].btn-secondary,
a.btn-secondary {
  align-items: center;
  background-color: $color-beige;
  border-radius: 2px;
  border: none !important;
  color: $color-dark-green !important;
  display: inline-flex;
  height: 35px;
  @include font-nort-bold();
  padding: 12px 16px;
  line-height: 1 !important;
  justify-content: center;
  text-align: center;
  text-decoration: none !important;
  transition: background-color .1s ease-in;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: $color-white;

  @include bp-lg() {
    height: 40px;
  }

  &.is-dark {
    background-color: $color-dark-green;
    color: $color-white !important;
  }
}