/**
 * -----------------------------------------------------------------------------
 * File: components/tables/global
 * -----------------------------------------------------------------------------
 */

.apartements-group {
  margin-top: 30px;

  @include bp-lg() {
    margin-top: 45px;
  }
}

.apartements-title {
  border-bottom: 2px solid $color-beige;
  color: $color-white;
  @include font-nort-bold();
  padding: 10px 0;
}

table.apartements {
  width: 100%;

  th {
    @include font-nort-bold();
    @include font-size($fs-xxs);
    padding: 10px 7px 10px 0;
  }

  td {
    @include font-size($fs-xs);
    padding: 15px 7px 15px 0;
    @include bp-md() {
      padding: 5px 7px 5px 0;
    }
  }

  th, td {
    text-align: left;
    vertical-align: top;

    &.align-right {
      text-align: right;
    }

    &.is-last {
      text-align: right;
      padding-right: 2px !important;
    }

    &.hide-mobile {
      display: none;
      @include bp-sm() {
        display: table-cell;
      }
    }
  }

  tr {
    border-bottom: 1px solid $color-beige;

    &.is-active-row {
      background-color: $color-beige;
    }

    &:hover {
      background-color: $color-beige;
      cursor: pointer;

      td {
        color: $color-green;
      }

      svg {
        color: $color-green;
      }

      .btn-register {
        color: $color-green !important;
      }
    }
  }

  thead tr:hover {
    background-color: transparent !important;
    cursor: default;
  }

  tbody td {
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
  }

  td.apartement-download {
    text-align: right;

    svg {
      display: inline-block;
      height: auto;
      width: 10px;
    }
  }

  &.apartments--selection {
    tr {
      &:hover {
        svg {
          color: $color-green;
        }
      }
    }
  }
}

.apartements-selection {
  background-color: $color-beige;
  box-shadow: 0 0 25px rgba($color-black, 0.15);
  color: $color-green;
  bottom: 0;
  left: 0;
  @include responsive-prop('padding-bottom', $space-sm);
  @include responsive-prop('padding-top', $space-sm);
  position: fixed;
  width: 100%;
  z-index: 200;

  > div {
    @extend %page-block;
  }

  table.apartements {
    max-width: 640px;
    tr {
      border-bottom: 1px solid $color-green;
    }
  }

  th:first-of-type,
  td:first-of-type {
    padding-left: 0;
  }

  h2 {
    border-bottom: none;
    @include font-nort-bold();
    margin-bottom: 10px;
    padding: 0;
    text-transform: uppercase;
  }
}

.apartment-details {
  background-color: $color-beige;
  box-shadow: 0 0 25px rgba($color-black, 0.15);
  color: $color-green;
  bottom: 0;
  left: 0;
  display: none;
  padding: 15px 15px 15px 15px;
  position: fixed;
  width: 100%;
  z-index: 200;

  h3 {
    margin-bottom: 3px;
  }

  span {
    display: block;
    margin-bottom: 15px;
  }

  a {
    color: $color-green !important;
    display: block;
    margin-top: 5px;
    &:first-of-type {
      margin-right: 10px;
    }
  }

  &.is-visible {
    display: block;

    > div {
      display: grid;
      grid-template-columns: .75fr 1fr;
      align-items: flex-end;
      max-width: 90%;
      gap: 10px;
    }

  }

  @include bp-md() {
    display: none !important;
  }
}
