/**
 * -----------------------------------------------------------------------------
 * File: components/typo/helpers
 * -----------------------------------------------------------------------------
 *
 * Helper classes for typography
 *
 */

.uc { text-transform: uppercase;}

.lc { text-transform: lowercase; }

.cap { text-transform: capitalize; }

.nobr { white-space: nowrap; }

.text-beige {
  color: $color-beige;
}

.text-dark-green {
  color: $color-dark-green;
}


/**
 * Typography - Font size helpers
 * -----------------------------------------------------------------------------
 */



/**
 * Typography - Generic elements
 * -----------------------------------------------------------------------------
 */

strong, b {
	@include font-nort-bold();
}

p {
  margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}