/**
 * -----------------------------------------------------------------------------
 * File: component/iso
 * -----------------------------------------------------------------------------
 *
 */

// Wrapper
[data-iso-wrapper] {
  align-items: center;
  display: none;
  flex-direction: column;
  position: sticky;
  top: 25px;

  @include bp-md() {
    display: flex;
  }

  > svg {
    height: auto;
    width: 100%;
  }
}

// Overview
[data-iso-overview] {
  display: flex;
  justify-content: flex-end;
  height: auto;
  width: 100%;

  svg {
    display: block;
    height: auto;
    width: 100%;
  }

  &.has-active-building {
    margin-top: 25px;

    // svg {
    //   @include bp-lg() {
    //     max-width: 60%;
    //   }
    // }
  }
}

// Buildings
[data-iso-building] {
  display: none;

  &.is-visible-building {
    display: block;
  }
}

// Floors
[data-floor] {
  &.is-hidden {
    display: none;
  }
}

// Building item classes
.iso-cls-1 {
  fill: #878379;
}

.iso-cls-1, 
.iso-cls-2 {
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.iso-cls-2 {
  fill: #ddd3c2;
}

.iso-cls-3 {
  fill: none;
  isolation: isolate;
}

.is-active-building {
  .iso-cls-1,
  .iso-cls-2 {
    fill: $color-dark-green;
  }
}

.is-active-item {
  .iso-cls-1,
  .iso-cls-2 {
    fill: $color-dark-green;
  }
}
