/**
 * -----------------------------------------------------------------------------
 * File: component/visual
 * -----------------------------------------------------------------------------
 *
 */

figure.visual {
  display: block;
  height: auto;
  width: 100%;

  img {
    @extend %is-responsive;
  }
}