/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */


html {
	overflow-y: scroll;
}

html,
body {
	min-height: 100%;
}

body {
	color: $color-black;
	@include font-nort-light();
	@include font-smoothing();
	@include font-size($fs-md);
	text-rendering: optimizeLegibility;
}

// Scrollbars
@include scrollbar(8px, #dddddd, #ffffff);