/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  background-color: $color-white;
  height: 70px;

  @include bp-xs() {
    height: 110px;
  }

  @include bp-sm() {
    height: 125px;
  }

  @include bp-lg() {
    height: 150px;

  }
  
  > div {
    @extend %page-block;
    height: inherit;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    height: inherit;
    padding-bottom: 15px;
    @include bp-xs() {
      justify-content: flex-start;
    }
  }
}


.is-home {
  header.site-header {
    background-color: transparent;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
  }
}
