/**
 * -----------------------------------------------------------------------------
 * File: layout/section
 * -----------------------------------------------------------------------------
 */

section {

  .page-inner {
    @extend %page-block;
  }

  &.page-section {
    @include responsive-prop('padding-top', $space-md);
    
    article {
      @include responsive-prop('padding-bottom', $space-md);
    }
    
    p {
      max-width: $element-max-width;
    }

    ul, li {
      margin: 0;
      padding: 0;
    }

    ul {
      @include responsive-prop('margin-left', $space-sm);
      @include responsive-prop('margin-bottom', $space-md);
    }

    li {
      display: list-item;
      list-style-type: disc;
      margin-bottom: 3px;
    }

    .visual {
      margin-bottom: 15px;
      
      &:last-child {
        margin-bottom: 0 !important;
      }

      @include bp-md() {
        margin-bottom: 25px;
      }

      img {
        @extend %is-responsive;
      }

      &.is-gallery {
        margin-bottom: 25px;
      }
    }
  }

  &.is-dark {
    background-color: $color-dark-green;
    color: $color-white;

    h1 {
      color: $color-beige;
    }

    a {
      color: $color-white;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &.is-light {
    background-color: $color-beige;
    color: $color-dark-green;

    h1 {
      color: $color-dark-green;
    }

    a {
      color: $color-dark-green;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &.is-home {
    p {
      max-width: 760px;
    }
  }

  &.is-map {
    padding: 0 !important;
    height: 240px;

    @include bp-sm() {
      height: 360px;
    }

    @include bp-md() {
      height: 540px;
    }

    .marker {
      background-image: url($url-images + 'marker.svg');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      height: 50px;
      width: 40px;

      @include bp-md() {
        height: 60px;
        width: 50px;
      }
    }
  }
}