/**
 * -----------------------------------------------------------------------------
 * File: layout/navigation/site
 * -----------------------------------------------------------------------------
 */

nav.site-nav {
  background-color: $color-white;
  display: none;
  left: 0;
  padding-left: 20px;
  padding-bottom: 10px;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 100;

  &.is-visible {
    display: block;
  }

  @include bp-xs() {
    background-color: transparent;
    display: block;
    left: 0;
    padding-top: 52px;
    padding-left: 32px;
    padding-bottom: 0;
    position: relative;
    top: auto;
    width: auto;
  }

  @include bp-sm() {
    padding-top: 66px;
    padding-left: 40px;
  }

  @include bp-lg() {
    padding-top: 72px;
    padding-left: 52px;
  }

  li {
    display: block;
    @include bp-xs() {
      display: inline-block;
      position: relative;
      margin-right: 20px;
    }

    @include bp-lg() {
      margin-right: 30px;
    }
  }

  a {
    color: $color-dark-green;
    @include font-nort-bold();
    display: block;
    letter-spacing: 0.05em;
    line-height: 1 !important;
    padding: 8px 0;
    text-transform: uppercase;
    transition: color .1s ease-out;

    &.is-active,
    &:hover {
      color: $color-beige
    }

    &.is-active {
      @include font-nort-bold();
    }

    @include bp-xs() {
      padding: 0;
    }
  }

  ul ul {
    display: block;

    @include bp-xs() {
      display: none;
      left: -6px;
      position: absolute;
    }

    li {
      margin-left: 10px;

      @include bp-xs() {
        background-color: $color--dark-blue;
        margin-left: 0;
        padding: 6px;
        width: 100%;

        &:first-of-type {
          border-bottom: 1px solid $color-white;
          margin-top: 8px;
        }
      }
    }

    a {
      padding: 6px 0;
      text-transform: none;

      @include bp-xs() {
        padding: 0;
        color: $color-white;
      }
    }
  }
}

.is-home {
  nav.site-nav {
    top: 0;
    padding-top: 44px;
    z-index: 100;

    @include bp-xs() {
      padding-top: 52px;
    }

    @include bp-sm() {
      padding-top: 66px;
    }

    @include bp-lg() {
      padding-top: 72px;
    }
  
  }
}