/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black: #000000;
$color-white: #ffffff;

$color-dark-green: #5D7975;
$color-beige: #DDD3C2;
$color-light-beige: #EEE9E1;

// Old colors
$color--dark-blue:   #001a45;
$color--medium-blue: #005a8d;
$color--light-blue:  #dde4ed;
$color--light-grey:  #dfe6e3;
$color--red:         #e7302f;

$color--success:   #5cb85c !default;
$color--info:      #5bc0de !default;
$color--warning:   #f0ad4e !default;
$color--danger:    #d9534f !default;