/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

// $space-xs: (
//     null:  10px,
//     sm:    10px,
//     md:    10px,
//     lg:    10px,
// );

$space-sm: (
    null:  15px,
    sm:    15px,
    md:    20px,
    lg:    24px,
);

$space-md: (
    null:  20px,
    sm:    30px,
    md:    40px,
    lg:    40px,
);

$space-lg: (
    null:  40px,
    sm:    60px,
    md:    80px,
    lg:    80px,
);

// $space-xl: (
//     null:  40px,
//     sm:    60px,
//     md:    80px,
//     lg:    100px,
// );