/**
 * -----------------------------------------------------------------------------
 * File: theme/brand
 * -----------------------------------------------------------------------------
 *
 */

.brand {

    h1 {
        color: $color--white;
        @include font-bold();
        @include font-size($fs-md);
        margin: 0 !important;
    }
    
    svg {
        display: block;
        height: auto;
        width: 240px;
    }

    &.is-login {
        margin-bottom: 30px;
        img {
            display: block;
            height: auto;
            width: 140px;
        }
    }
}