/**
 * Forms - global definition
 * -----------------------------------------------------------------------------
 */

input[type=text],
input[type=email],
input[type=number],
input[type=password],
textarea,
select,
button {
	background-color: $color-white;
	border-radius: 2px;
	border: 1px solid $color-white;
	color: $color-dark-green;
	display: block;
	@include font-size($fs-sm);
	line-height: 1;
	padding: 10px;
	position: relative;
	outline: none !important;
	width: 100%;
	z-index: 1;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: $color-white;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password] {
	padding: 6px 12px;

	@include bp-sm() {
		padding: 10px 20px;
	}
}

textarea {
	height: 120px;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

select::-ms-expand {
	display: none;
}

input[type=submit] {
	background-color: $color-dark-green;
	border-color: transparent;
	border-radius: 2px;
	color: $color-white;
	display: inline-block;
	@include font-nort-bold();
	min-width: 125px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
	padding: 7px 25px;
	transition: background-color .12s ease-out, color .12s ease-out;

	&:hover {
		background-color: $color-beige;
	}
}

input[type="checkbox"] + label {
  position: absolute;
}

input[type="checkbox"] {
  position: relative;
  left: 15px;
  top: -2px;
  z-index: 0;
	-webkit-appearance: none;
	
	@include bp-md() {
		left: 20px;
		top: -4px;
	}
}

input[type="checkbox"] + label::before {
	border-radius: 2px;
  width: 12px;
  height: 12px;
  background-color: $color-white;
  display: block;
  content: "";
  float: left;
	margin-right: 5px;
	margin-left: -5px;
  z-index: 5;
	position: relative;
	
	@include bp-md() {
		width: 15px;
		height: 15px;
		margin-right: 10px;
	}
}

input[type="checkbox"]:checked+label::before {
  background-color: $color-beige;
}