/**
 * Forms - various input fields
 * -----------------------------------------------------------------------------
 */

input {

}

.select-wrapper {
  background-color: $color-beige;
  border: none;
  border-radius: 3px;
  color: $color-white;
  display: inline-block;
  position: relative;
  width: 100%;

  &.is-wide {
    width: 100%;
  }

	select {
    background-color: $color-beige;
    border: none;
    color: $color-dark-green;
    display: block;
    height: 36px;
    padding: 8px 10px;
    width: 100%;

    @include bp-lg() {
      height: 40px;
    }
  }
}