/**
 * Forms - layouts
 * -----------------------------------------------------------------------------
 */

// Form elements
.form-row {
	display: block;
	margin-bottom: 25px;

	&.is-last {
		margin-bottom: 0
	}

}
