/**
 * Forms - validation
 * -----------------------------------------------------------------------------
 */

.has-error {

}


.error-message {
  background-color: $color--danger;
  color: $color-white;
  display: inline-block;
  @include font-size($fs-sm);
  line-height: 1 !important;
  padding: 4px 8px;
  width: auto;

  &.is-floating {
    border-bottom-left-radius: 2px; 
    display: inline-block;
    right: 0;
    position: absolute;
    top: 0;
    width: auto;
    z-index: 100; 
  }
}