/**
 * -----------------------------------------------------------------------------
 * File: component/alerts/success
 * -----------------------------------------------------------------------------
 */

.alert {
  left: 0;
  position: absolute;
  top: 0;
  width: auto;

  > div {
    background-color: $color-green;
    color: $color-white;
    @include font-nort-bold();
    @include font-size($fs-sm);
    padding: 15px;
    text-align: center;
  }
}

.alert-success {
  background-color: $color-green;
  color: $color-white;
  @include font-nort-bold();
  padding: 5px;
  @include responsive-prop('margin-bottom', $space-md);

  @include bp-sm() {
    max-width: 50%;
    padding: 15px;
  }
}
